*
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'poppine';
}

a
{
  text-decoration: none;
}

.container
{
  width: 100%;
  height: 100vh;
  padding: 3em 8em;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(../image/header.jpg);
}

.navbar
{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a
{
  color: #fff;
  text-transform: uppercase;
}

.links .list
{
  display: flex;
}

.list .link a
{
  color: #fff;
  margin-left: 2em;
  text-transform: capitalize;
  transition: .5s all ease-in-out;
}

.list .link a:hover
{
  color: #888;
}

/* .header__img
{
  top: 0;
  right: 0;
  position: relative;
} */

.header__img img
{
  bottom: 0;
  z-index: 0;
  top: -260px;
  right: -40px;
  position: absolute;
}

.header__title
{
  top: 35%;
  left: 17%;
  text-align: center;
  position: absolute;
}

.header__title h1
{
  color: #fff;
  font-size: 3.5em;
  margin-bottom: .8em;
  text-transform: capitalize;
}

.header__title button
{
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 25px;
  padding: 1em 2.6em;
  border-radius: 2em;
  transition: background .6s;
  background: linear-gradient(to right, #0171BC , #28AAE0);
}

.header__title button:hover
{
  background: linear-gradient(to left, #0171BC , #28AAE0);
}